<h1>Listing comments</h1>

<table>
  <tr>
    <th>By</th>
    <th>Post</th>
    <th>Body</th>
    <th>Up votes</th>
    <th>Down votes</th>
    <th>Parent</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.by %></td>
    <td><%= comment.post %></td>
    <td><%= comment.body %></td>
    <td><%= comment.up_votes %></td>
    <td><%= comment.down_votes %></td>
    <td><%= comment.parent %></td>
    <td><%= link_to 'Show', comment %></td>
    <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
    <td><%= link_to 'Destroy', comment, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comment', new_comment_path %>
