<h1>Listing posts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Type</th>
    <th>Url</th>
    <th>Body</th>
    <th>Nsfw</th>
    <th>By</th>
    <th>Subreddit</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.type %></td>
    <td><%= post.url %></td>
    <td><%= post.body %></td>
    <td><%= post.nsfw %></td>
    <td><%= post.by %></td>
    <td><%= post.subreddit %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
